body {
    background-color: #1E1E1E;
    color: #e0e0e0;
  }
  
  .nav-item a {
    color: #e0e0e0;
  }
  
  .nav-item .disabled {
    color: #8e8e8e;
  }

.image-comparison-area {
  margin-top: 1vh;
}
  .vertical-hr {
    color: #e0e0e0;
    border-color: #e0e0e0;
    border: none;
    border-left: 1px solid #e0e0e0;
    height: 90%;
    width: 1px;
  }
  
.cd-image-label-modified {
  color: #000000;
}

  .padded-hr {
    padding-top: 10px;
    color: #e0e0e0;
    border-color: #e0e0e0;
  }
  
  .photo-view {
    height: 100%;
  }
  
  .photo-pane {
    padding-top: 5%;
    padding-bottom: 5%;
    height: fit-content;
  }
  
  .photo-pane-left {
    padding-top: 5%;
    padding-bottom: 5%;
    height: fit-content;
    border-right: 1px #ffffff solid;
  }
  
  .results-section {
    margin-top: 10px;
  }
  
  .angle-input {
    text-align: center;
    width: 90px;
    height: 52px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 5px;
  }
  
  .form-control-copy {
    text-align: center;
    width: 90px;
    height: 39px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
  }

  .form-control-textarea {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 39px;
    min-height: 39px;
  }
  
  .buttons-and-fields {
    border-top: 1px #ffffff solid;
    padding-top: 10px;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .crop_buttons button{
    display: inline-block;
  }
  #unused_rules button{
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

.alert-warning, .alert-warning .close:hover {
  color: #ffffff;
  background-color: #ffffff47;
  border-color: #ffffff;
}
.crop_rules button {
 background-color: #5f9ea0;
 color: #fff;
 border-color: #ffffff;
}
.orientation_rules button {
  background-color: #9249d6;
  color: #fff;
  border-color: #ffffff;
 }
.rule-button-group-label p, .rule-button-group-label a {
color:#ffffff;
border-bottom: 1px solid rgb(255, 255, 255);
width: -webkit-fill-available;
margin-bottom: 0px;
}

.white-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
}

/* color rules */

.color_rules button {
  color: rgb(44, 44, 44);
  border-color: rgb(44, 44, 44);
 }

/* css rainbow by https://codepen.io/srm4nu/pen/OVXXmj */
.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 10s infinite; 
  /* Internet Explorer */
  -ms-animation: rainbow 10s infinite;
  /* Standar Syntax */
  animation: rainbow 10s infinite; 
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{background-color: hsl(0, 100%, 82%);}
	40%{background-color: hsl(60, 100%, 83%);}
	60%{background-color: hsl(120, 100%, 83%);}
	80%{background-color: hsl(240, 100%, 84%);}
	100%{background-color: hsl(38, 100%, 74%);}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{background-color: hsl(0, 100%, 82%);}
	40%{background-color: hsl(60, 100%, 83%);}
	60%{background-color: hsl(120, 100%, 83%);}
	80%{background-color: hsl(240, 100%, 84%);}
	100%{background-color: hsl(38, 100%, 74%);}	
}
/* Standar Syntax */
@keyframes rainbow{
	20%{background-color: hsl(0, 100%, 82%);}
	40%{background-color: hsl(60, 100%, 83%);}
	60%{background-color: hsl(120, 100%, 83%);}
	80%{background-color: hsl(240, 100%, 84%);}
	100%{background-color: hsl(38, 100%, 74%);}	
}
#complete_url {
  margin-bottom: 200px;
}


  /* https://codyhouse.co/gem/css-jquery-image-comparison-slider/ */
.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  backface-visibility: hidden;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  animation: cd-bounce-in 0.7s;
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}