.bulk-form-control {
    line-height: 6.5em !important;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
  }
  
  .copy-btn-bulk {
    height: 6.5em !important;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
  }